<h1>Restaurants#show</h1>
<p>Find me in app/views/restaurants/show.html.erb</p>


<h4> <%= @restaurant.name %> </h4>
<p> <%= @restaurant.address %> </p>
<p> <%= @restaurant.category.upcase %> </p>
<hr class="solid">
<h2>Reviews</h2>

<% @reviews.each do |r| %>
    <%= r.content %>
    <p>Created at: <%= r.created_at %></p>

    <hr class="solid">
<% end %>

<hr class="solid">

<%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary"%>

<%= link_to "Go back to list", restaurants_path, class: "btn btn-primary" %>
